* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 0;
}

main {
    margin: auto 60px;
    
}

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(150, 150, 150);
    transition: .3s;
}

a:hover {
    color:rgb(0, 0, 0)
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.nav__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-weight: bold;
    padding: 0 20px;
    margin: 20px auto;
}

.nav__item {
    color: rgb(150, 150, 150);
}

.content {
    background: #dfdede;
    margin: auto auto;
    padding: 50px;
    display: flex;
}

.photo {
    border-radius: 50%;
}

.sidebar {
    justify-content: center;
}

.vocation {
    margin: 10px auto;
    font-size: 1em;
}

.location {
    font-size: 0.9em;
}

.underline {
    width: 100%;
    height: 0.05rem;
    margin-top: 5px;
    margin-bottom: 1rem;
    background-color: rgb(30, 39, 92);
}

.contacts {
    padding: 0;
    font-size: 1em;
}

ul.contacts li {
    color: rgb(150, 150, 150);
    list-style: none;
    
}

.contacts__email {
    transition: .3s;
}

.contacts__email:hover {
    color:rgb(0, 0, 0);
    cursor: pointer;
}

.contacts__phone::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f095";
}

.contacts__telegram::before {
    font-family: "Font Awesome 5 Brands"; 
    font-weight: 900; 
    content: "\f2c6";
}

.contacts__email::before {
    
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0e0";
}

.contacts__linkedin::before {
    font-family: "Font Awesome 5 Brands"; 
    font-weight: 900; 
    content: "\f08c";
}

.summary {
    margin-top: 0;
}

.code-example-first {
    background: rgb(199, 194, 214);
    font-family: monospace, monospace;
}

.code {
    font-family: monospace, monospace;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 0 20px;
}

.github-link {
    background-image: url(./assets/svg/github.svg);
    width: 50px;
    height: 50px;
}

.rsschool-link {
    background-image: url(./assets/svg/rsschool.svg);
    width: 125px;
}

.social-icon {
    display: block;
    background-repeat: no-repeat;
}

.social-icon:hover {
    opacity: .7;
}