main {
    margin: auto 60px;
    
}

.content {
    background: #dfdede;
    width: 1024px;
    margin: 60px auto;
    padding: 50px;
    display: flex;
    
}

.photo {
    border-radius: 50%;
}

.sidebar {
    justify-content: center;
    
}

.vocation {
    margin: 10px auto;
}

.header-info > *{
    
}

.contacts {
    padding: 0;
}

ul.contacts li {
    color: red;
    list-style: none;
    
}

.summary {
    margin-top: 0;
}